@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

@media only screen and (min-width:1025px) {
    #grid2 {
        display: grid;
        position: relative;
        grid-template-columns: 15% 35% 35% 15%;
        grid-template-rows: 10em 30em 30em 10em;
        text-align: center;
    }

    #one3 {
        grid-column: 2 / 4;
        grid-row: 1;
    }

    #two3 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding-top: 50px;
    }
    
    #three3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        padding-top: 50px;
    }

    #four3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        padding-top: 50px;
        border-bottom-left-radius: 20px;
    }

    #five3 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        padding-top: 50px;
        border-bottom-right-radius: 20px;
    }
    
    #shortcate2 {
        top: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 16px;
        border: 1px solid;
    }

    #tshirtcate2 {
        top: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 16px;
        border: 1px solid;
    }

    #gantscate2 {
        top: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 16px;
        border: 1px solid;
    }

    #accescate {
        top: 45%;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 16px;
        border: 1px solid;
    }
}

@media only screen and (max-width: 600px) {
    #grid2 {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10em 25em 25em 25em 25em 10em;
        text-align: center;
    }

    #one3 {
        grid-column: 1;
        grid-row: 1;
    }

    #two3 {
        grid-column: 1;
        grid-row: 2 / 3;
        padding-top: 50px;
    }
    
    #three3 {
        grid-column: 1;
        grid-row: 3 / 4;
        padding-top: 50px;
    }

    #four3 {
        grid-column: 1;
        grid-row: 4 / 5;
        padding-top: 50px;
    }

    #five3 {
        grid-column: 1;
        grid-row: 5 / 6;
        padding-top: 50px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    #x2 {
        width: 50%;
    }


}

@media only screen and (min-width: 600px) and (max-width:1024px) {
    #grid2 {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10em 40em 40em 40em 40em 10em;
        text-align: center;
    }

    #one3 {
        grid-column: 1;
        grid-row: 1;
    }

    #two3 {
        grid-column: 1;
        grid-row: 2 / 3;
        padding-top: 50px;
    }
    
    #three3 {
        grid-column: 1;
        grid-row: 3 / 4;
        padding-top: 50px;
    }

    #four3 {
        grid-column: 1;
        grid-row: 4 / 5;
        padding-top: 50px;
    }

    #five3 {
        grid-column: 1;
        grid-row: 5 / 6;
        padding-top: 50px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    #x2 {
        width: 50%;
    }
}

#test:hover {
    padding: 7%;
    background-color: var(--col2);
    color: var(--col3);
}
