@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

@media only screen and (max-width: 600px) {
    
    .telhide {
        display: none;
    }

    .telshow {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        position: relative;
    }

    nav .headhover:hover {
        background-color: transparent;
        color: black;
        padding: 0%;
    }

    #grid1 {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10em 25em 25em 10em 25em 25em 25em 25em 10em;
        text-align: center;
    }

    #one1 {
        grid-column: 1;
        grid-row: 1;
        padding-top: 2em;
    }
    
    #two1 {
        grid-column: 1;
        grid-row: 2 / 3;
    }
    
    #three1 {
        grid-column: 1;
        grid-row: 3 / 4;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #one2 {
        grid-column: 1;
        grid-row: 4 / 5;
        align-items: center;
    }

    #two2 {
        grid-column: 1;
        grid-row: 5 / 6;
        padding-top: 60.8px;
        border-top: var(--col2) 4px solid;
    }

    #three2 {
        grid-column: 1;
        grid-row: 6 / 7;
        padding: 60.8px;
    }

    #four2 {
        grid-column: 1;
        grid-row: 7 / 8;
        padding: 60.8px;
    }

    .relativ > div {
        position: absolute;
    }

    #short2 {
        bottom: 50px;
        left: 0%;
        font-size: 10px;
        color: black;
        background-color: var(--col1);
        padding: 10px;
    }

    #short3 {
        bottom: 50px;
        left: 0%;
        font-size: 10px;
        color: black;
        background-color: var(--col1);
        padding: 10px;
    }

    #shortcate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 10px;
        border: 1px solid;
    }

    #tshirtcate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 10px;
        border: 1px solid;
    }

    #gantscate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 10px;
        border: 1px solid;
    }

    #accescate {
        top: 0%;
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 10px;
        border: 1px solid;
    }

    .gridhover {
        max-width: 100%;
        position: relative;
        overflow: hidden;
    }

    .gridhover img {
        max-width: 100%;
        display: block;
    }


    h2 {
        font-family: 'Gabarito', sans-serif;
        font-size: 30px;
        color: black;
    }

    #x1 {
        width: 72%;
    }

    #y1 {
        width: 72%;
    }

    #z1 {
        width: 53%;
    }
}

@media only screen and (min-width: 600px) and (max-width:1024px) {
    .telhide {
        display: none;
    }
    
    .telshow {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        position: relative;
    }

    nav .headhover:hover {
        background-color: transparent;
        color: black;
        padding: 0%;
    }

    #grid1 {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10em 40em 40em 10em 40em 42em 40em 40em 10em;
        text-align: center;
    }

    #one1 {
        grid-column: 1;
        grid-row: 1;
        padding-top: 2em;
    }
    
    #two1 {
        grid-column: 1;
        grid-row: 2 / 3;
    }
    
    #three1 {
        grid-column: 1;
        grid-row: 3 / 4;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #one2 {
        grid-column: 1;
        grid-row: 4 / 5;
    }

    #two2 {
        grid-column: 1;
        grid-row: 5 / 6;
        padding-top: 60.8px;
        border-top: var(--col2) 4px solid;
    }

    #three2 {
        grid-column: 1;
        grid-row: 6 / 7;
        padding: 60.8px;
    }

    #four2 {
        grid-column: 1;
        grid-row: 7 / 8;
        padding: 60.8px;
    }

    #five2 {
        grid-column: 1;
        grid-row: 8 / 9;
        padding: 60.8px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .relativ > div {
        position: absolute;
    }

    #short2 {
        bottom: 50px;
        left: 0%;
        font-size: 14px;
        color: black;
        background-color: var(--col1);
        padding: 10px;
    }

    #short3 {
        bottom: 50px;
        left: 0%;
        font-size: 14px;
        color: black;
        background-color: var(--col1);
        padding: 10px;
    }

    #shortcate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 14px;
        border: 1px solid;
    }

    #tshirtcate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 14px;
        border: 1px solid;
    }

    #gantscate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 14px;
        border: 1px solid;
    }

    #accescate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 14px;
        border: 1px solid;
    }

    .gridhover {
        max-width: 100%;
        position: relative;
        overflow: hidden;
    }

    .gridhover img {
        max-width: 100%;
        display: block;
    }


    h2 {
        font-family: 'Gabarito', sans-serif;
        font-size: 30px;
        color: black;
    }

    #x1 {
        width: 72%;
    }
}

@media only screen and (min-width:1025px) {
    #grid1 {
        position: relative;
        display: grid;
        grid-template-columns: 15% 35% 35% 15%;
        grid-template-rows: 10em 30em 10em 30em 30em 10em;
        text-align: center;
    } 

    .relativ {
        position: relative;
    }

    .relativ > div {
        position: absolute;
    }

    #one1 {
        grid-column: 2 / 4;
        grid-row: 1.5;
    }
    
    #two1 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        border-bottom-left-radius: 20px;
    }

    #three1 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        border-bottom-right-radius: 20px;
    }

    #short2 {
        bottom: 50px;
        left: 0%;
        color: black;
        background-color: var(--col1);
        padding: 10px;
    }

    #short3 {
        bottom: 50px;
        left: 0%;
        color: black;
        background-color: var(--col1);
        padding: 10px;
    }

    #one2 {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    #two2 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        padding-top: 60.8px;
        border-top: 4px solid;
        border-color: var(--col2);
    }

    #three2 {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        padding: 60.8px;
        border-top: 4px solid;
        border-color: var(--col2);
    }

    #four2 {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        padding: 60.8px;
        border-bottom-left-radius: 20px;
    }

    #five2 {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
        padding: 60.8px;
        border-bottom-right-radius: 20px;
    }

    #shortcate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 16px;
        border: 1px solid;
    }

    #tshirtcate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 16px;
        border: 1px solid;
    }

    #gantscate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 16px;
        border: 1px solid;
    }

    #accescate {
        bottom: 50px;
        left: 0%;
        background-color: var(--col1);
        padding: 10px;
        font-family: 'Gabarito', sans-serif;
        font-size: 16px;
        border: 1px solid;
    }

    .gridhover {
        max-width: 100%;
        position: relative;
        overflow: hidden;
    }

    .gridhover img {
        max-width: 100%;
        display: block;
    }


    h2 {
        font-family: 'Gabarito', sans-serif;
        font-size: 50px;
        color: black;
    }
}



html {
    margin: 0px;
    padding: 0px;
    --col1 : #058ED9;
    --col2 : #483d3f;
    --col3 : #F4EBD9;
    --col4 : #A39A92;
    --col5 : #77685D;
    background-color: #eceae6;
}

header {
    text-align: left;
    word-spacing: 100px;
    border-bottom: 4px solid;
    border-color: var(--col2);
    background-color: var(--col1);
    position: relative;
    right: 0%;
  }


#flexhead {
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

main img {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: 'League Gothic', sans-serif;
    padding: 0px;
    margin: 0px;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 25%;
    text-align: center;
}

.headhover {
    transition: background-color 0.3s;
}

.headhover:hover {
    padding: 12%;
    background-color: var(--col2);
    color: var(--col3);
}


#logoacceuil {
    float: left;
    margin: 0px;
    padding: 0px;
    position: static;
}

.imgheader {
    transition: transform 1s;
}

.imgheader:hover {
    transform: scale(1.3);
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
    grid-template-rows: auto 1fr auto;
}



.highcolor {
    background: linear-gradient(to bottom, #483d3f, #A39A92);
}

.highcolor2 {
    background-color: #eceae6;
}

.gridback {
    background-color: var(--col4);
    padding-top: 4.3em;
}

.gridback2 {
    background-color: var(--col4);
}

.gridhover {
    text-decoration: none;
    color: black;
    border: 1px solid;
    font-family: 'Gabarito', sans-serif;
}

#short2:hover {
    background-color: var(--col2);
    color: var(--col3);
}

#short3:hover {
    background-color: var(--col2);
    color: var(--col3);
}

#shortcate:hover {
    background-color: var(--col2);
    color: var(--col3);
}

#tshirtcate:hover {
    background-color: var(--col2);
    color: var(--col3);
}

#gantscate:hover {
    background-color: var(--col2);
    color: var(--col3);
}

#accescate:hover {
    background-color: var(--col2);
    color: var(--col3);
}

.gridhover:hover {
    color: var(--col3);
    border-color: var(--col3);
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-top: 4px solid;
    background-color: var(--col4);
    border-color: var(--col2);
}